:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background-color:#f0f4f7; */
  padding-bottom: 200px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    /* background-color: white; */
  }
}

.appSubheading {
  margin-top: -15px;
}
.websitePageButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.websitePageBody {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.websiteHeader {
  width: 100vw;
  margin: 0 auto;
  background-color: white;
}

.longBreakLine {
  border-bottom: solid;
  width: 50vw;
  margin: 0 auto;
}

.shortBreakLine {
  border-bottom: solid;
  width: 30vw;
  margin: 0 auto;
  border-width: .1px;
}
.websiteSubheading {
  font-size: 30px;
  margin-top: -15px;

}

.websiteFooter {
  width: 100vw;
  height: 300px;
  margin-top: 30px;
  background-color: #ede9e6;
}

.websiteContent {
  width: 80vw;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ede9e6;
}

.websitePageButton {
  background-color: white;

}

.paragraphHeading {
  font-size: 30px;
}

.paragraphBody {
  width: 60vw;
  margin: 0 auto;
  font-size: 23px;
 
  
}

.mainPhoto {
  width: 70vw;
  padding-top: 20px;
  object-fit: cover;
}

.midPhoto{
  display: inline-flex;
  width: 35vw;
  height: 40vh;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: cover;
}

.footerPhoto {
  width: 60vw;
  height: 35vw;
  object-fit: cover;
  padding-bottom: 20px;
}

a {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  text-decoration: underline;
}



.modal {
 
  width: 500px;
  height: 300px;
  border: solid;
  border-width: 1px;
  border-radius: 12px;
  position: fixed;
  top: 35vh;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: white;
  
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-20%);
    
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    
  }
  
}

.modalContent {
  padding-top: 17%
}

.createdMessage {
  animation: fade-down 6s;
}

.appHeader{
position: fixed;
 top: 0vw;
 left: 0;
 right: 0;
 background-color: white;
}

.headerBlocker{
position: absolute;
 left: 0;
 right: 0;
 background-color: white;
 width: 100vw;
 height: 400px;
 z-index: 1;


}

.navBar{
  margin-left: 0;
  margin-right: 0;
}


.registrationModalContent {
  padding-top:40px;
}

.closeModalButton {
  background: white;
  font-family: Gill Sans, sans-serif;
  margin-top: 10px;
  margin-right: -80%;
  font-size: 25px;
  font-weight: 200;

}

.confirmRemovalModalContent {
  margin-top: 110px;
}

.removeButton{
  display: inline-flex;
  height:40px;
  margin-left: 10px;
  margin-right: 10px;
}

.appBody {
  margin-top: 30vh;
}

.pageDivider {
  border-bottom: solid;
  width: 100vw;
  border-width: .1px;
}


button {
  margin-left: 5px;
  margin-right: 5px;
}

.logoutButton {
  margin-top: 20px;
  display: flex;
  justify-content: right;
  padding-right: 30px;
}