:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    /* background-color: white; */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    /* background-color: white; */
  }
  input {
    background-color: white;
  }
  textarea {
    background-color: white;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f7f5fc;
  background-color:#9dbfe3;
  background-color: #d9cced;
  background-image: url("./assets/photo3.png");
  background-size: auto;
  background-size: cover;
  background-position-x: center;

}

.appHeader{
  position: fixed;
   top: 0vw;
   left: 0;
   right: 0;
   background-color: white;
   /* background-image: url("https://cdn4.volusion.store/exgsz-ywkdq/v/vspfiles/photos/PDG250x150x100Blk-2.jpg?v-cache=1530789477");
   background-image: url("https://t3.ftcdn.net/jpg/04/72/07/66/360_F_472076647_chcqwR9bT0F3WfjZbCynSZDUWLpThEoC.jpg"); */

  
  }

.appSubheading {
  margin-top: -15px;
}

.appFooter {
  position: absolute;
  left: 0;
  right: 0;
  height: 500px;
  width: 100vw;
  background-color: #ebedf5;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.websiteFormCard {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 0 auto;
}

.submitButton {
  width: 100px;
  margin: 0 auto;
}

.createWebsiteButton {
  width: 200px;
}

.websiteFormHeading {
  padding-top: 30px;
  font-size: 30px;
  margin-bottom: 10px;
  width: 60vw;
  margin: 0 auto;
 
}

label {
  font-size: 20px; 
  padding-right: 10px;
}

input {
  width: 31vw;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  border: solid;
  border-width: .2px;
  border-radius: 3px;
  margin-top: 5px;
}

textarea{
  font-size: 20px;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  border-width: .2px;
  width: 31vw;
  height: 30vh;
  font-family: sans-serif;

}

.formText {
 width: 40vw;
 margin: 0 auto;
 font-size: 20px;
}

.formText2 {
  width: 40vw;
  margin: 0 auto;
  font-size: 15px;
 }

.websitePageButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.websitePageBody {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.websiteHeader {
  width: 100vw;
  margin: 0 auto;
  background-color: white;
  font-family: Palatino, URW Palladio L, serif;
  font-size: 22px;
}

.longBreakLine {
  border-bottom: solid;
  width: 50vw;
  margin: 0 auto;
}

.shortBreakLine {
  border-bottom: solid;
  width: 30vw;
  margin: 0 auto;
  border-width: .1px;
}

.tinyBreakLine {
  border-bottom: solid;
  width: 10vw;
  margin: 0 auto;
  border-width: .1px;
}
.websiteSubheading {
  font-size: 35px;
  margin-top: -15px;

}

.websiteFooter {
  width: 100vw;
  height: 300px;
  margin-top: 30px;
  background-color: #ede9e6;
}

.websiteContent {
  width: 80vw;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ede9e6;
  font-family: Optima, sans-serif;
}

.websitePageButton {
  background-color: white;
  font-size: 20px;
}

.paragraphHeading {
  font-size: 30px;
}

.paragraphBody {
  width: 60vw;
  margin: 0 auto;
  font-size: 23px;
  margin-top: -13px;
  
}
.paragraph{
  width: 60vw;
  margin: 0 auto;
  font-size: 23px;
  margin-top: -13px;
  border: double;
  border-width: thick;
}

.mainPhoto {
  width: 70vw;
  padding-top: 20px;
  object-fit: cover;
}

.midPhoto{
  display: inline-flex;
  width: 35vw;
  height: 40vh;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: cover;
}

.footerPhoto {
  width: 60vw;
  height: 35vw;
  object-fit: cover;
  padding-bottom: 20px;
}

a {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  text-decoration: underline;
}



.modal {
 
  width: 450px;
  height: 300px;
  border: solid;
  border-width: 1px;
  border-radius: 12px;
  position: fixed;
  top: 35vh;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: white;
  
}

.savedModal {
  font-family: sans-serif;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-20%);
    
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    
  }
  
}

.modalContent {
  padding-top: 17%
}

.createdMessage {
  animation: fade-down 1s;
}



.headerBlocker{
position: absolute;
 left: 0;
 right: 0;
 background-color: white;
 width: 100vw;
 height: 400px;
 z-index: 1;


}

.navBar{
  margin-left: 0;
  margin-right: 0;
}


.registrationModalContent {
  padding-top:40px;
  font-family: sans-serif;
}

.closeModalButton {
  background: white;
  font-family: Gill Sans, sans-serif;
  margin-top: 10px;
  margin-right: -80%;
  font-size: 25px;
  font-weight: 200;

}

.confirmRemovalModalContent {
  margin-top: 110px;
}

.removeButton{
  display: inline-flex;
  height:40px;
  margin-left: 10px;
  margin-right: 10px;
}

.appBody {
  margin-top: 30vh;
  background-color: white;
}

.pageDivider {
  border-bottom: solid;
  width: 100vw;
  border-width: .1px;
}


button {
  margin-left: 5px;
  margin-right: 5px;
}

.logoutButton {
  margin-top: 20px;
  display: flex;
  justify-content: right;
  padding-right: 30px;
}

.loginPage {
  width: 45vw;
  display: flex;
  flex-direction: column;
  margin-top: 15vw;
  margin-bottom: 80px;
  height: 30vh;
  padding-top: 10vh;

}

.loginForm {
  margin-top: -25px;
}

.registrationForm {
  width: 45vw;
  margin-top: 20vh;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 80px;
}

.registrationMessage {
  height: 20vh;
}

.savedWebsitesPage {
  width: 800px;
  min-height: 20vh;
 padding-top: 40px;
}


.savedWebsitesText{
  margin: 0 auto;
  width: 500px;
}

.logoutPage {
  padding-top: 50px;
  width: 40vw;
  height: 30vh;
  margin-top: 1vh;
}

.appIntro {
  width: 70%;
  margin: 0 auto;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.websiteName {
  font-size: 20px;
}

.githubLink {
  font-size: 16px;
  text-decoration: underline;
}
@media screen and (max-width: 500px) {

  .body{
    width: 100vw;
  }

  .appHeading {
    font-size: 30px;
  }
  .appSubheading {
    font-size: 23px;
  }

  .appIntro {
    font-size: 15px;
    width: 250px;
  }

  button {
    color: black;
  }


  .logoutButton {
    padding-right: 35px;
  }

  .websiteFormHeading {
    font-size: 18px;
  }

  .websiteForm {
    width: 70vw;
    margin: 0 auto;
  }

  .websiteFormCard{
    width: 75vw;
    margin: 0 auto;
  }


  .formText {
    font-size: 15px;
    width: 250px;
  }
  .formText2 {
    font-size: 10px;
    width: 250px;
  }

  label {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  input {
    width: 200px;
    font-size: 15px;
    border-color: black;
  }

  textArea {
    width: 200px;
    font-size: 15px;
    border-color: black;
    border-right-color: black;
    border-style: solid;
  }

  .createWebsiteButton {
    width: 175px;
    font-size: 14px;
  }

  .appFooter {
    height: 200px;
    margin-bottom: 0; 
  }

  .registrationForm {
    width: 70vw;
  }

  .registrationHeading {
    font-size: 18px;
    padding: 8px;
  }

  .loginPage {
    width: 70vw;
    height: 200px;
   }

  .loginHeading {
    font-size: 18px;
    margin-top: -15px;
  }

  .submitButton {
    width: 175px;
    font-size: 14px;
  }

  .loginPageButton {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .savedWebsitesPage{
    width: 70vw;

  }

  .savedWebsitesHeading {
    font-size: 18px;
  }

  .savedWebsitesButton {
    font-size: 14px;
  }

  .websiteTitle {
    font-size: 26px;
  }
  .websiteSubheading {
    font-size: 20px;
  }

  .websitePageButton {
    font-size: 14px;
    width: 20vw;
  }

  .websitePageButtons {
   width: 40vw;
   margin: 0 auto;
  }

  .paragraphHeading {
    font-size: 18px;
  }

  .paragraphBody {
    font-size: 15px;
  }

  .midPhoto {
    width: 32vw;
    height: auto;
  }

  .websiteFooter {
    height: 230px;
    font-size: 14px;
  }

  .mainPhoto {
    width: 65vw;
  }

  .modal {
    width: 60vw;
    height: 50vw;
  }

  .modalContent {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .modalButton {
    margin-top: -30px;
    font-size: 14px;
  }

  .closeModalButton {
    width: 2px;
    height: 50px;
    margin-right: -155px;
    padding-top: 0px;
  }


  .savedModalContent {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .logoutPage {
    margin-top: -325px;
    width: 70vw;
    height: 220px;
  }  
  .logoutMessage {
    font-size: 18px;
  }
  .logoutPageButton {
    font-size: 14px;
  }

  .registrationModalContent {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -65px;
  }

  .welcomeMessage {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .welcomeMessageButton {
    font-size: 14px;
  }

  .registrationMessage {
    margin-top: -150px;
  }

  .savedWebsitesText {
    margin: 0 auto;
    border: solid;
  }
  .editMessageText {
    font-size: 18px;
  }

  .editModalButton {
    font-size: 14px;
  }

  .confirmRemovalModalContent {
    margin: 30px;
  }

  .removeButton {
    margin: 0 auto;
    display: flex;
    align-items: space-around;
    font-size: 14px;

  }


}
